@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --one-color:#020228;
    --two-color: #ff00e5;
    --three-color: #b535f6;

    --btn-gradient: linear-gradient(75deg,
    #9b34ef 20%,#490cb0 40%,
    transparent 50% );

    --barra-gradient: linear-gradient(45deg,
    #9b34ef 20%,white 30%, #490cb0 100%, transparent 100% );
    
    --card-color: linear-gradient(0deg, transparent, #3b1e63);
    
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --footer-links-social:  #9e86ff;
    --card-bg-ofert: rgba(0, 0, 100, 0.5)
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    
}
body{
    background-color: var(--one-color);
}
p {
  font-family: "Quicksand", sans-serif;
}

/* Header */
.header {
  position: relative;
  margin-top: 0px;
  padding: 100px 0 100px;
  background: linear-gradient(-125deg, #461d49, #0f0f10, #282065 );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite alternate;
}
.header::after {
  content: "";
  width: 0%;
  height: 250px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, var(--one-color), transparent);
}
.nav_container{
    display: flex;
    background-color: var(--nav-bg-color);
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;

}
.nav_bnt_container{
    display: block;
    justify-content: right;
    text-decoration: none;   
}
.nav_bnt_entrar {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 15px;
    font-weight: bold;
    font-size: 0.75rem;
    cursor: pointer; 
    letter-spacing: 1px;

}
.nav_bnt_assine{
    padding: 8px 24px;
    background-color: var(--three-color);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;

    border-radius: 20px;
    cursor: pointer;        
    transition: background 1s, color 1s;
    
}
.nav_bnt_assine:hover{
    background-color: white;
    color: black;
    
}
    
.nav_logo {
    max-width: 160px;
    
}
.nav_logo2 {
    width: 100%;
}

/*FIM  Navbar*/


/*INICIO HEADER*/

.header__channel{
    background-color: var(--one-color);

}
.header__channels{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px 0 20px 0;
}
.header_h1{
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 50px;
}
.header_span_h1{
    font-size: 2rem;
    font-weight: lighter;
    display: block;    
}
.barra {
    display: block;
    margin: 0 100px 0 100px;
    padding: 2px;
    background: var(--barra-gradient);   
    border-radius: 20px;
 }

/* OFERTAS: */
header{
    text-align: center;    
}
.header_oferta_container{
    color:white;
    padding: 30px 0px;
}
.header_oferta_h3 {
    font-size: 1rem;
    font-weight: lighter;
}
.header_oferta_price {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    padding: 10px 10px;
    padding-bottom: 50px;
    color: var(--three-color);
}
.header_oferta_price_span{
    font-size: 1rem;
    font-weight: lighter;
    padding-left: 10px;
}
.header_oferta_btn{
    color: white;
    background: var(--btn-gradient);
    padding: 14px 50px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 2.5px;
    border: none;

    outline: 3px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
    background-size: 250% 400%; 

    animation: wiggle 2.2s linear infinite; /*animation*/
}
.header_oferta_btn:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 1px solid var(--two-color);
    transform: scale(1.05);
}
.header_oferta_text {
    padding: 50px;    
}
.header_oferta_text_span {
    display: block;    
}

/* MAIN */

/* CARD_ MOBILE*/

.container_planos {
    display: flex;
    padding: 10px 40px 10px 40px;
    justify-content: center;
  }
.planos_mobile_multitelas {  
    padding: 25px 20px;
    min-height: 600px;
}
.plano_mobile_conteiner  { 
    background: var(--card-color);
    padding: 30px 60px;    
    border-radius: 8px;
    flex-direction: column; 
    margin: auto;
    padding: 24px;
    height: 500px;
    
    border: 1px solid var(--card-bg-ofert);
}
.plano_mobile_text {
    padding: 15px 0 15px 0;
    font-size: 1.2rem;
    font-weight:normal;
    color: white;
}
.plano_mobile_h3 {
    display: flex;
    color: white;
    font-size: 1.5rem;
    padding: 10px 0px 20px 0;
    justify-content: space-between;
}
.plano_mobile_price {
    color: var(--two-color);
    font-size: 1.8rem;
}
.plano_mobile_price_mes {
    padding-left: 10px;
    color: white;
    font-size: 1rem;
}
.planos_conteiner_text { /*frase*/
    padding-top: 100px;
    padding: 10px;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
}
.plano_mobile_bnt{ /*BUTTON_MOBILE*/    
    color: white;
    background: var(--btn-gradient);
    padding: 14px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size:0.9rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1.5px;

    outline: 3px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
    background-size: 250%;    
}
.plano_mobile_bnt:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 1px solid var(--two-color);
    transform: scale(1.05);
}
.plano_mobile_bnt_container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 20px;
}


/* CARD_ multitelas*/
.card_conteiner{
    background: var(--one-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    max-width: 1200px;
    margin: auto;
    padding: 24px;
    text-align: center;
    
}
.card_imagens {
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border: 2px solid var(--card-bg-ofert);
    transition: transform 0.8s, background 0.8s, border 5s;

}
.card_1 {
    width: 100%;
    object-position: center;
    object-fit: cover;
    transition: opacity 2s;
    
 }
.contents {
  margin: 100px auto;
}

.card_imagens:hover {
  transform: scale(1.15);
  z-index: 1;
  border: 2px solid var(--three-color);
}

.card_imagens:hover .card_1 {
  opacity: 0;
}
.card_imagens:nth-child(1):hover {
  background-image: url("../images/hbo-hover_0.webp");
}

.card_imagens:nth-child(2):hover {
  background-image: url("../images/MAX-Hover.webp");
}

/* DC Content */

.card_imagens:nth-child(3):hover {
  background-image: url("../images/DC-Hover.webp");
}

/* WB Content */

.card_imagens:nth-child(4):hover {
  background-image: url("../images/WB-Hover.webp");
}

/* CN Content */

.card_imagens:nth-child(5):hover {
  background-image: url("../images/CN-Hover.png");
}

/* Champions League Content */

.card_imagens:nth-child(6):hover {
  background-image: url("../images/UCL-Hover.webp");
}



/* Animations */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes wiggle {   /* ANIMATION BUTTON*/
  0%,
  10% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  35% {
    transform: rotate(-10deg);
  }
  40%,
  100% {
    transform: rotate(0);
  }
}



/*FOOTER*/
.footer_container, .footer_social{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_links, .footer_social_link{
  color: var(--footer-links-social);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 50px 10px 15px 10px;
}
.footer_text_container {
  text-align: center;
}
.footer_text{  
  color: var(--footer-links-social);
  font-size: 0.7rem;
  font-weight: normal;
}
.footer_social_link {
  padding: 50px 25px 25px;
}

/* Custom Scroll */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--footer-links-social);
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: var(--two-color);
  
}

/* Media Queries */
@media (pointer: coarse) {
  .contents__card:hover {
    transform: none;
  }
}
@media screen and (max-width: 700px) {

  .container_planos {
    display: block;
    flex-direction: column;
    justify-content: center;
  }
  .card_conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .header__channels {
    gap: 10px;
    flex-wrap: wrap;
  }
  .nav_logo {
    width: 110px;
  }
  .nav_container {
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid white;
  }
  .planos_conteiner_text {
    font-size: 1.5rem;
  }
  .plano_responsive {
    height: 380px;
  }
  .plano_mobile_conteiner {
    margin-top: 50px;
    border: 1px solid var(--card-bg-ofert);
  }
  .footer_container {
    flex-wrap: wrap;
  }
  .footer_links{
    padding-right: 50px;
    padding-top: 0%;
  }  
  .footer_text_container {
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {

  .container_planos {
    padding: 5px;
    display: block;
    flex-direction: column;
    justify-content: center;
  }
  .plano_mobile_text {
    font-size: 1.1rem;
  }
  .card_conteiner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5px;
  }
  .header__channels {
    gap: 10px;
    flex-wrap: wrap;
  }
  .nav_logo {
    width: 110px;
  }
  .nav_container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .planos_conteiner_text {
    font-size: 1.3rem;
    padding: 20px;
  }
  .plano_responsive {
    height: 380px;
  }
  .plano_mobile_conteiner {
    margin-top: 50px;
    border: 1px solid var(--card-bg-ofert);
  }
  .footer_container {    
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0px 20px 20px
  }
  .footer_text_container {
    padding: 20px;
  }
  .plano_mobile_h3, .plano_mobile_price, .plano_mobile_price_mes {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 360px) {
   .plano_mobile_text {
    font-size: 0.5rem;
  }
  .plano_responsive {
    height: 450px;
  }
  .plano_mobile_h3, .plano_mobile_price, .plano_mobile_price_mes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .plano_mobile_conteiner {
    min-height: 600px;
  }
  .plano_mobile_bnt {
    text-align: center;
    flex-wrap: wrap;
  }
  .header_h1, .header_span_h1 {
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px;
  }
  .card_conteiner {
    display: grid;
    grid-template-columns: repeat(6, 100%);
    gap: 5px;
    overflow: auto hidden;
    grid-auto-flow: column;
  }
}
@media screen and (max-width: 950px) {
.plano_mobile_conteiner, .planos_mobile_multitelas, .container_planos {
  padding: 15px;
}
.plano_mobile_text {
  font-size: 1.1rem;
}
.plano_mobile_h3, .plano_mobile_price, .plano_mobile_price_mes {
  flex-wrap: wrap;
  justify-content: space-between;
}
}