h3 {
    background: blue;
    color: white;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
}
    h4 {
    background: green;
    color: white;
    padding: 10px;
    border: 1px solid red;
    margin: 20px 0px 20px 0px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black;
    border-radius: 19px;
    box-shadow: 0 0 10px rgba(215, 207, 207, 0.5);
    transition: all 0.70s ease;
    cursor: progress;
    display: block;
    width: 100%;
    font-family: 'Arial', sans-serif;
       
}
    pre {
    background: #f6f4f4;
    color: #333;
    border-radius: 5px;
    border: 1px solid;
    border-color: black;
    
 }
